.card {
  opacity: 0;
}

.card__placeholder {
  height: 280px;
  animation: image-loading 1000ms linear infinite alternate;
}

@keyframes image-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
